<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Scorecards</title>
</head>

<body>
    <header class="is-flex is-flex-wrap-wrap is-justify-content-space-between is-align-content-center">
        <h1 class="is-size-2">Scorecards</h1>
        <nav class="is-flex is-align-items-center">
          {{#if logged_in}}
          <a href="/profile"><button class="button has-background-dark has-text-info-light">Profile</button></a>
          <button class="button has-background-dark has-text-info-light" id="logout">Logout</button>
          {{/if}}
        </nav>
    </header>

    <main class="is-flex is-justify-content-center is-align-items-center">

        {{{ body }}}

    </main>

    <footer class="is-flex is-justify-content-center">
        <h2>Created by Group 4</h2>
    </footer>
    
    <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>