<div class="box has-background-primary">
    <div style="width: 800px">
        <canvas id="myChart"></canvas>
    </div>
    {{game}}

    <script>
        const ctx = document.getElementById('myChart');
        console.log("test");
        console.log({{game}});
        //var game = {{game}};
        //var gameArr = game.map(game.date_played);
/*
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: gameArr,
                datasets: [{
                    label: 'Past Game Scores',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                    borderColor: '#FFFFFF',
                    backgroundColor: '#FFFFFF',
                }]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                size: 24,
                                family: "'BlinkMacSystemFont','-apple-system','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','Helvetica','Arial','sans-serif'",
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    */
    </script>
</div>