<article class="panel is-primary">
    <p class="panel-heading">
        Welcome, "Golfer Name".
    </p>

    <a class="panel-block is-active is-size-5">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        date played
    </a>
    <a class="panel-block is-size-5">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        date played
    </a>
    <a class="panel-block is-size-5">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        date played
    </a>
    <a class="panel-block is-size-5">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        date played
    </a>
    <a class="panel-block is-size-5">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        date played
    </a>
    <a class="panel-block is-size-5">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        date played
    </a>
    <a class="panel-block is-size-5">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        date played
    </a>
</article>