<p class="is-size-2">Date:</p>

<form class=" new-scorecard is-flex is-flex-direction-column is-flex-wrap-wrap is-align-items-center">
  <div class="is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
    <td><input class="hole-score" id="hole1" maxlength="1" type="number" placeholder="1" /></td>
    <td><input class="hole-score" id="hole2" maxlength="1" type="number" placeholder="2" /></td>
    <td><input class="hole-score" id="hole3" maxlength="1" type="number" placeholder="3" /></td>
    <td><input class="hole-score" id="hole4" maxlength="1" type="number" placeholder="4" /></td>
    <td><input class="hole-score" id="hole5" maxlength="1" type="number" placeholder="5" /></td>
    <td><input class="hole-score" id="hole6" maxlength="1" type="number" placeholder="6" /></td>
    <td><input class="hole-score" id="hole7" maxlength="1" type="number" placeholder="7" /></td>
    <td><input class="hole-score" id="hole8" maxlength="1" type="number" placeholder="8" /></td>
    <td><input class="hole-score" id="hole9" maxlength="1" type="number" placeholder="9" /></td>
    <td><input class="hole-score" id="hole10" maxlength="1" type="number" placeholder="10" /></td>
    <td><input class="hole-score" id="hole11" maxlength="1" type="number" placeholder="11" /></td>
    <td><input class="hole-score" id="hole12" maxlength="1" type="number" placeholder="12" /></td>
    <td><input class="hole-score" id="hole13" maxlength="1" type="number" placeholder="13" /></td>
    <td><input class="hole-score" id="hole14" maxlength="1" type="number" placeholder="14" /></td>
    <td><input class="hole-score" id="hole15" maxlength="1" type="number" placeholder="15" /></td>
    <td><input class="hole-score" id="hole16" maxlength="1" type="number" placeholder="16" /></td>
    <td><input class="hole-score" id="hole17" maxlength="1" type="number" placeholder="17" /></td>
    <td><input class="hole-score" id="hole18" maxlength="1" type="number" placeholder="18" /></td>
  </div>
  <p class="is-size-2">Score:</p>
  <div class="notes">
    <textarea class="textarea is-warning" placeholder="Notes:"></textarea>
  </div>
  <button class="button" type="submit">Save</button>
</form>

<script src="../public/js/scorecard.js"></script>
