<p class="is-size-2">Date:</p>

<form class=" new-scorecard is-flex is-flex-direction-column is-flex-wrap-wrap is-align-items-center">
  <div class="is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
    <td><input class="hole-score" maxlength="1" type="number" placeholder="1" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="2" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="3" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="4" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="5" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="6" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="7" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="8" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="9" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="10" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="11" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="12" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="13" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="14" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="15" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="16" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="17" /></td>
    <td><input class="hole-score" maxlength="1" type="number" placeholder="18" /></td>
  </div>
  <p class="is-size-2">Score:</p>
  <div class="notes">
    <textarea class="textarea is-warning" placeholder="Notes:"></textarea>
  </div>
  <button class="button" type="submit">Save</button>
</form>

<script src="./public/js/scorecard.js"></script>
