<form class=" new-scorecard is-flex is-flex-direction-column is-flex-wrap-wrap is-align-items-center">
  <h3 class="is-size-2">Date: {{date_played}}</h3>
  <div class="is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center" data-id="{{id}}">
    {{#each holes as | hole |}}
    <td><input class="hole-score"  placeholder={{hole.score}} maxlength="1" type="number"/></td>
    {{/each}}
  </div>
  <h3 class="is-size-2">Score:</h3>
  <div class="notes">
    <textarea class="textarea is-warning" placeholder="Notes:"></textarea>
  </div>
  <button class="button" type="submit">Save</button>
</form>

<script src="/js/scorecard.js"></script>
